thead tr:nth-child(even) {
 background-color: #f2f2f2;
}

thead tr:hover {
    background-color: #ddd;
}

td{
    border-radius: 3px;
}

tr th {
    padding: 3px 8px;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    font-size: 1.1rem;
    border-radius: 3px;
}

td button, th button {
    width: 100px;
}

table{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input {
    font-size: larger;
}

form input {
    width: 100%;
}

.deleteBtn {
    cursor: pointer;
    margin: 3px 6px;
    border-radius: 10px;
    border: solid red 2px;
    background-color: red;
    color: #f2f2f2;
    font-weight: 700;
}

.deleteBtn:hover {
    background-color: white;
    color: red;
}

.updateBtn{
    cursor: pointer;
    margin: 3px 6px;
    border-radius: 10px;
    border: solid dodgerblue 2px;
    background-color: dodgerblue;
    color: #f2f2f2;
    font-weight: 700;
}

.updateBtn:hover{
    background-color: white;
    color: dodgerblue;
}


.postBtn {
    cursor: pointer;
    margin: 3px 6px;
    border-radius: 10px;
    border: solid green 2px;
    background-color: green;
    color: #f2f2f2;
    font-weight: 700;
}

.postBtn:hover {
    background-color: white;
    color: green;
}

.warning {
    color: red;
    font-weight:700 ;
}

.divBtn{
    margin:20px;
}


label{
    color: black;
}