.lista{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.headerContainer {
    width: 100%;
    display: flex;
    gap: 1rem;
    background-color: dodgerblue;
    align-items:center;
    justify-content: space-between;
}

.headerContainer .logoStyle{
    padding: 5px 0px
}

.headerContainer li{
    color: white;
    list-style-type: none;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

.headerContainer img {
    height: 4rem;
    margin-left: 4rem;
}

@media only screen and (max-width: 710px){
    .lista{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
    }
}