.dashContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  min-height: 80vh;
  text-align: center;
}

.buttonBox{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.botao{
  box-shadow: 0px -2px 0px 2px rgb(25, 116, 207) inset;
  background-color:dodgerblue;
  padding:.5rem;
  border-radius:10px;
  font-weight: 900;
  color: white;
}

.botao:hover{
  box-shadow: none ;
}

.imagemFundo{
  margin-bottom: 100px;
  border-radius: 25px;
}
