@font-face {
  font-family: 'mainFont';
  src: url('assets/Montserrat-Regular.ttf');
}

* {
  font-family: 'mainFont';
}

body, html {
  margin: 0;
  padding: 0;
}

.App {
  /* width: 100vw; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

